FRONTEND_HTTP=10080
FRONTEND_HTTPS=10443

BACKEND_HTTP=20080
BACKEND_HTTPS=20443

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=


APP_URL=https://frontend:10443
SESSION_SECRET=

SIITEC_CLIENT_ID=
SIITEC_CLIENT_SECRET=

SIITEC_AUTHORIZATION_ENDPOINT=https://siitec.colima.tecnm.mx/index.php/oauth2/authorize
SIITEC_REVOCATION_ENDPOINT=https://siitec.colima.tecnm.mx/index.php/oauth2/revoke
SIITEC_TOKEN_ENDPOINT=https://siitec.colima.tecnm.mx/index.php/oauth2/token
SIITEC_USERINFO_ENDPOINT=https://siitec.colima.tecnm.mx/api/index.php/usuarios/perfil/openid
SIITEC_USUARIOS_ENDPOINT=https://siitec.colima.tecnm.mx/api/index.php/app/usuarios